@tailwind base;
@tailwind components;
@tailwind utilities;

@layer Alert {
    .alert {
        transition: bottom 300ms 200ms ease-out, left 500ms ease-out, transform 500ms ease-out, opacity 500ms ease-out;
        animation: alert-enter 750ms, alert-exit 750ms 4000ms;
    }

    .duration-bar {
        animation: alert-duration-bar-shrink forwards 500ms linear;
    }

    @keyframes alert-enter {
        from {
            left: 0;
            transform: translate(-100%);
        }

        to {
            left: 50%;
            transform: translate(-50%);
        }
    }

    @keyframes alert-exit {
        from {
            left: 50%;
            transform: translate(-50%);
        }

        to {
            left: 100%;
            transform: translate(0%);
        }
    }

    @keyframes alert-duration-bar-shrink {
        from {
            width: 100%;
        }

        to {
            width: 0%;
        }
    }
}